
 <!-- <router-outlet />--> 
  <div class="formulario">
    <div class="input-group">
      <h3>Edad 1</h3>
      <input type="text" placeholder="Primera edad" [(ngModel)]=edad1>
    </div>
    <div class="input-group">
      <h3>Edad 2</h3>
      <input type="text" placeholder="Ingresa valor" [(ngModel)]=edad2>
    </div>
    <div>
      <button (click)="calcular()">caluclar </button>
      <button (click)="limpiar()">limpiar cuadros</button>
    </div>
    @if(promedio!==0  ){
    <div class="resultado">
      <h3>suma</h3>
      <span>{{suma}}</span>
    </div>
    <div class="resultado">
      <h3>promedio</h3>
      <span>{{promedio}}</span>
    </div>
  }
  </div>

